upstream django {
    server 127.0.0.1:8001;
}

server {
    listen      8000;
    server_name finbotincome.com;
    charset     utf-8;

    location /static {
        alias /path/to/your/mysite/static;
    }

    location / {
        proxy_pass http://django;
    }
}